/*
 * Open Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-ExtraBold.ttf) format('truetype');
}

html, body {
	height: 100%;
}

body {
	padding-top: 50px;
	height: 100%;
	font-family: 'Open Sans Hebrew', sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display:none !important
}

.full-width {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.container.navbar-container {
	width: 1140px;
}

.container-view {
	margin-top: 20px;
}

h1, h2, h3 {
	color: #008282;
	margin-top: 10px;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

/* Posts */
.post .post-content {
	margin-top: 10px;
	margin-bottom: 0;
}

.post a {
	color: #008282;
}

.post a:hover, .post a:active, .post a:focus {
	color: white;
}

.post .short-desc, .post .post-info {
	color: grey;
	font-size: 1.1em;
}

.post-info .glyphicon {
	color: #008282;
}

.post-img {
	margin-top: 15px;
	object-fit: cover;
	width: 100%;
	overflow: hidden;
}

.post.post-preview {
	border-top: solid 1.5px #008282;
	margin-top: 8px;
	margin-bottom: 70px;
}

.post.post-preview h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-badge {
	background: #008282;
	width: 90px;
	word-wrap: break-word;
	height: 90px;
	border-radius: 0 0 0 90px;
	-moz-border-radius: 0 0 0 90px;
	-webkit-border-radius: 0 0 90px 0;
	position: absolute;
	text-align: left;
	top: 8px;
	left: 15px;
	padding-top: 15px;
	padding-right: 22px;
	z-index: 1;
	font-size: 1.1em;
	cursor: default;
	text-align: center;
	color: #008282;
}

.post-badge:before {
	content: '';
	background: white;
	width: 89px;
	height: 89px;
	border-radius: 0 0 0 89px;
	-moz-border-radius: 0 0 0 89px;
	-webkit-border-radius: 0 0 89px 0;
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	padding-top: 15px;
	padding-right: 22px;
	font-size: 1.1em;
	cursor: default;
	text-align: center;	
	z-index: -1;
}

.post .post-badge {
    top: 64px;
}

.post.post-preview .post-badge {
	top: 8px;
	left: 15px;
	background: #008282;
}

.post.post-preview .post-badge:before {
	top: 0;
	left: 0;
}

.post-preview .short-desc {
	min-height: 45px;
}

.post-preview-img {
	margin-top: 10px;
	margin-bottom: 10px;
	object-fit: cover;
	overflow: hidden;
	height: 240px;
	width: 100%;
	position: relative;
}

/* Buttons */
.btn {
	border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.btn.btn-primary {
	background-color: #008282;
	color: white;
	border-color: #2D8C72;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	background-color: #50C7A7;
}

.btn.btn-primary.inverse {
	background-color: transparent;
	color: white;
	border-color: white;
}

.btn.btn-primary.inverse:hover, .btn.btn-primary.inverse:active, .btn.btn-primary.inverse:focus {
	background-color: #50C7A7;
}

.btn.btn-cancel {
	border-color: #9B0000;
	background-color: white;
	color: #9B0000;
}

.btn.btn-facebook {
	background-color: #3b5998;
	border-color: #3b5998;
	color: white;
}

.btn.btn-facebook:hover, .btn.btn-facebook:active, .btn.btn-facebook:focus {
	background-color: #576D9A;
}

.btn.btn-cancel:hover, .btn.btn-cancel:active, .btn.btn-cancel:focus {
	background-color: #9B0000;
	color: white;
}

.btn.btn-form-control {
	border-color: #008282;
	background-color: white;
	color: #008282;
}

.btn.btn-form-control:hover, .btn.btn-form-control:active, .btn.btn-form-control:focus {
	background-color: #50C7A7;
	color: white;
}

.btn.btn-transparent, .btn.btn-transparent:active {
	background-color: transparent;
	color: white;
	border-color: white;
	border: 10px;
}

label.btn-file-upload input[type="file"] {
    position: fixed;
    top: -1000px;
}

.btn-status {
	cursor: default;
	color: white;
}

.btn-status:hover, .btn-status:focus, .btn-status:active {
	color: white;
}

.btn-status.black {
	cursor: default;
	color: black;
}

.btn-status.black:hover, .btn-status.black:focus, .btn-status.black:active {
	color: black;
}

/* Search Box */
.searchbox {
	margin-bottom: 15px;
}

/* Validations */
.ng-invalid.ng-dirty {
	border-color: #A64D4D;
}

@media(max-width: 768px) {
	h1, h2, h3 {
		margin-top: auto;
	}

	.container.navbar-container {
		width: auto;
	}

	.container-view {
		margin-top: auto;
	}

	.post-preview-search h3 {
		margin-top: 10px;
	}
	
	.jumbotron {
		margin-bottom: 2px;
	}

	.jumbotron:before {
		background-color: rgba(0, 0, 0, 0.3);
	}	

	.jumbotron-content-container {
		width: 100%;
	}

	.jumbotron-content {
	    font-size: 0.9em;
	    margin-top: 0;
	}
	
	.post.post-preview {
		padding-top: 10px;
		margin-top: 5px;
	}

	.post.post-preview .post-badge {
		left: 0;
		top: 52px;
	}

	.post .post-badge {
		left: 0;
	    top: auto;
	    background: none;
	}

	.post .short-desc {
		color: grey;
		min-height: 100%;
	}
	
	.post-preview-img {
		height: auto;
		max-height: 300px;
		object-fit: cover;
		border-top: 1px solid #008282;
	}
	
	.post-img {
		margin-top: 15px;
		object-fit: cover;
		height: auto;
		max-height: 300px;
		overflow: hidden;
	}

	.btn-status {
		padding-left: 0;
		padding-right: 0;
	}
	
	footer h2 {
		margin-top: 20px !important;
	}

	.xs-full-width {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}
