/* Navbar */
.navbar-left {
	position: absolute;
	left: 0;
}

.navbar-nav {
	a {
		&:hover {
			-webkit-transition: all 0.1s ease-in-out 0.1s;
			-moz-transition: all 0.1s ease-in-out 0.1s;
			transition: all 0.1s ease-in-out 0.1s;
		}
	}
}

.navbar-default {
	.navbar-toggle {
		border-color: transparent;
		border-radius: 2px;
		margin-left: 4px;

		/* Nav Toggle */
		.icon-bar:nth-of-type(2) {
			top: 1px;
		}

		.icon-bar:nth-of-type(3) {
			top: 2px;
		}

		.icon-bar {
			position: relative;
			transition: all 500ms ease-in-out;
		}

		&.active {
			.icon-bar:nth-of-type(1) {
				top: 6px;
				transform: rotate(45deg);
			}

			.icon-bar:nth-of-type(2) {
				background-color: transparent;
			}

			.icon-bar:nth-of-type(3) {
				top: -6px;
				transform: rotate(-45deg);
			}
		}

		.icon-bar {
			background-color: #50C7A7;
		}

		&:focus, &:hover {
			background-color: transparent;
			border-color: transparent;
		}
	}

	.navbar-logo {
		width: 80px;
		margin-top: -5px;
	}
}

/* Jumbotron */
.jumbotron {
	background-image: url('../img/jumbotron3.jpg');
	background-position: center top;
	background-size: cover;
	color: white;
	border-radius: 0;
	text-align: center;
	position: relative;
	max-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:before {
		content: '';
		position: absolute;
		background-color: rgba(0, 0, 0, 0.1);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&:after {
		content: '';
		width: 100%;
		height: 70px;
		left: 0;
		bottom: -40px;
		position: absolute;
	}

	.jumbotron-h1 {
		font-size: 2.5em;
	}

	.jumbotron-content-container {
		display: flex;
		align-items: center;
		justify-content: center;

		.jumbotron-content {
			position: relative;
			font-size: 1.2em;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
	}

	.jumbotron-logo {
		background-image: url('../img/logo-white.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		background-position: center;
		height: 50px;
		margin: 15px;
	}	
}

/* Forms */
.form-control {
    padding: 6px 12px;
    font-size: 15px;
    color: #555;
    background-color: #fff;
    border: 1px solid #008282;
    border-radius: 2px;
    height: 50px;

    &:active, &:focus {
    	border: 1px solid #008282;
    }
}

.input-group-addon {
	&:first-child {
		border-left: 0px;
		border-bottom: 1px solid;
		background-color: transparent;
		border-color: #008282;
		color: #50C7A7;
	}
}

/* Paper Look */
.paper {
	padding: 15px;
    background: #eee;
    box-shadow:
		0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
		0 10px 0 -5px #eee, /* The second layer */
		0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
		0 20px 0 -10px #eee, /* The third layer */
		0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */

	h3 {
		margin-top: 0;
		padding-top: 0;
		color: #008282;
	}

	p, span {
		background-color: transparent !important;
	}
}

/* Disqus */
.disqus {
	margin-top: 50px;
	bottom: 0;
}

/* Footer */
footer {
	background-color: #8FBEBE;
	padding-top: 20px;
	padding-bottom: 45px;
	color: white;
	margin-top: 30px;

	h2 {
		color: white;
	}

	a {
		color: white;

		&:hover, &:active, &:focus {
			color: #008282;
		}
	}

	.footer-ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-top: 12px;
		}
	}

	.copyright {
		margin-top: 30px;
		background-color: #63A5A5;
		bottom: 0;
		padding: 20px;
		text-align: center;
	}
}

/* Modal */
.modal-header h3 {
	color: #008282;
}

.modal-footer {
	border: none;
}

/* Loader */
.loading-spiner-holder {
	width: 100%;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	text-align: center;
	z-index: 1001;
}

.whirly-loader {
	position: fixed;
	top: 50%;
	bottom: 50%;
}

/* Remove Bootstrap default glow */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.ta-root.focussed > .ta-scroll-window.form-control {
	border-color: none;
	outline: 0;
	outline: none;
	/* IE6-9 */

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}