<div class="col-xs-12">
	<h1>אודות בריא בריא - מתכונים בריאים</h1>
	<p>
		<h2>קצת עליי</h2>
		מסטרנטית ו-B.sc למדעי התזונה באוניברסיטה העברית בירושלים. במילים אחרות, כמעט דיאטנית. <br>
		חובבת בישול ביתי, פשוט וטעים מ"חומרים טבעיים בלבד". <br>
		מאמינה שימי ראשון לא נועדו לדיאטות, ושהדיאטה הטובה ביותר היא לאכול אוכל טעים ומזין בהתאם לתחושות הרעב והשובע. <br>
	<img alt="אודות בריא בריא מתכונים בריאות" class="img-responsive img-circle" src="img/pages/lubi.jpg">
	</p>
	<p>
	    כולנו אוהבים לאכול, והיום מסתבר גם שכולנו אוהבים להיות בריאים. <br>
	    חלק גדול מבריאות היום היא גם לאכול אוכל בריא. <br>
	    בנוסף, גם רבים מאתנו אוהבים לבשל - כשמשלבים את כל הדברים האלו ביחד קל מאוד להביא למה האתר כאן.
	</p>
	<p>
		<h2>איך עושים מתכוני בריאות?</h2>
		מה שאנחנו עושים פשוט מאוד, לוקחים מתכונים רגילים והופכים אותם למתכונים בריאים. <br>
		לפעמים שינוי קטן במרכיבים או בכמויות יכול לעשות פלאים לרמת הבריאות של המנה! <br>
		כמובן שתוך כדי חשוב גם שייצא טעים :)
	</p>
	<p>
		<a href="/recepie-send">רוצים מתכונים בריאים משלכם? שלחו לנו את המתכון ונדאג לכם</a> <br>
		<a href="/">עמוד הבית של בריא בריא - מתכונים בריאים</a>
	</p>
	<img alt="מתכונים בריאים, אוכל בריא, תזונה נכונה" class="img-responsive" src="img/pages/%D7%90%D7%95%D7%93%D7%95%D7%AA%20%D7%9E%D7%AA%D7%9B%D7%95%D7%A0%D7%99%20%D7%91%D7%A8%D7%99%D7%90%D7%95%D7%AA.jpg">
</div>