<div id="posts">
	<h1 class="hidden">מתכונים בריאים</h1>
    <div ng-repeat="post in posts | searchFor:searchString" class="col-xs-12 col-sm-6 xs-full-width">
    	<post-preview></post-preview>
    </div>
    <div class="col-xs-12 xs-full-width">
        <h2>תזונה נכונה</h2>
        <p>
        	רבים רוצים לדעת את הסוד לתזונה נכונה ומנסים כל מיני דיאטות ותוספים כאלה ואחרים. <br>
        	האמת היא שאין נוסחת קסם ולכל אחד יש תגובות אחרות לניהול אורח חיים בריא. <br>
        </p>
        <h3>אז איך אוכלים בריא?</h3>
        <p>
        	כמובן שמידי פעם כולנו אוכלים קצת ג'אנק פוד וחוטאים אבל חשוב לשים לב שהכל במידה. <br>
        	בריא בריא הופך את המתכונים שאתם אוהבים למתכונים בריאים ככה שאפשר להמשיך לבשל אותו דבר למשפחה או לעצמכם ולהינות מרמת בריאות גבוהה יותר.
        </p>
        <h3>עם מי אפשר להתייעץ?</h3>
        <p>
        	המון מלל בנושא תזונה ואוכל בריא קיים ברחבי האינטרנט, האם זה מתאים לכולם - כנראה שלא. <br>
        	חשוב לפנות לתזונאי מומסך כדי לקבל ייעוץ אישי ונכון יותר.
        </p>
    </div>
</div>