<h1 ng-bind-html="actionBtn"></h1>
<div class="btn-group" uib-dropdown is-open="status.isopen">
	<button type="button" class="btn btn-primary btn-form-control" uib-dropdown-toggle="status.isopen = !status.isopen">
	<span ng-if="post.postType === 'recipe'">מתכון</span>
	<span ng-if="post.postType === 'info'">עמוד מידע</span>
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
		<li ng-click="post.postType = 'recipe'"><a href="#">מתכון</a></li>
		<li ng-click="post.postType = 'info'"><a href="#">עמוד מידע</a></li>
	</ul>
</div>
<br><br>
<label>כותרת</label> <br>
<input type="text" class="form-control" ng-model="post.title" required> <br>
<label>תאריך</label> <br>
<input type="date" class="form-control" ng-model="post.date" required> <br>
<div ng-show="user.permissions > 4">
	<div class="row">
		<div class="col-xs-4">
			<label>מזהה כותב</label> <br>
			<input type="text" class="form-control" ng-model="post.authorId">
		</div>
		<div class="col-xs-8">
			<label>שם כותב</label> <br>
			<input type="text" class="form-control" ng-model="post.authorName">
		</div>
	</div>
	<br>
</div>
<div ng-if="post.postType === 'recipe'">
	<div class="row">
		<div class="col-xs-4">
			<label>זמן הכנה</label> <br>
			<input type="text" maxlength="15" class="form-control" ng-model="post.estTime" required>
		</div>
		<div class="col-xs-8">
			<label>תגית</label> <br>
			<input type="text" maxlength="25" class="form-control" ng-model="post.badge">
		</div>
	</div> <br>
</div>
<label>תקציר</label> <br>
<textarea class="form-control" rows="2" ng-model="post.shortDesc" required></textarea> <br>
<label>תמונה</label> <br>
<label class="btn btn-primary btn-lg btn-file-upload">
	<span class="glyphicon glyphicon-cloud-upload"></span>
	העלה קובץ 
	<!-- <input type='file' ng-model="post.imgUrl" base-sixty-four-input> -->
	<input type="file" nv-file-select uploader="uploader"/> 
</label> <br> <br>
<div class="visible-xs">
	<img class="img-responsive post-img" ng-src="img/posts/{{post.imgId}}.jpg" err-src="img/placeholder.jpg" ng-show="!uploader.formData.id"/>
	<img class="img-responsive post-img" ng-src="img/posts/{{uploader.formData.id}}.jpg" ng-show="uploader.formData.id"/>
	<br>
</div>
<input type="hidden" ng-model="uploader.formData.id">
<label>תוכן</label> <br>
<text-angular ta-toolbar="[['h2', 'h3', 'h4', 'bold'],['italics', 'underline', 'ul', 'ol'],['redo', 'undo', 'insertImage', 'insertLink', 'html']]" ng-model="post.content"></text-angular> <br>
<div ng-if="post.postType === 'recipe'">
	<label>מרכיבים</label> <br>
	<text-angular ta-toolbar="[['h4','bold', 'italics', 'underline'],['ul', 'ol', 'redo', 'undo']]" ng-model="post.recepie"></text-angular> <br>
	<label>אופן הכנה</label> <br>
	<text-angular ta-toolbar="[['h4','bold', 'italics', 'underline'],['ul', 'ol', 'redo', 'undo']]" ng-model="post.recepieHowTo"></text-angular> <br>
</div>
<button type="submit" class="btn btn-lg btn-primary pull-left" ng-bind-html="actionBtn"> </button>
<span class="btn btn-lg btn-status" ng-show="statusBtn"> {{statusBtn}} </span>